@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Bleakwind Buffet</h1>
<p>We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim. Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into a Smokehouse Skeleton with your dagger. Or vanquish the the mighty Thalmor Triple Burger! You’ve had a hard adventure and earned your loot, so spend it with us!</p>

<form id="item-database">
    <div id="filterContainer">
        <div id="filters">
            <h4>Search</h4>
            <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
            <input type="submit" name="Search" />
        </div>

        <div id="filters">
            <h4>Category</h4>
            @foreach (String category in BleakwindBuffet.Data.Menu.Categories)
            {
                <lable>
                    <input type="checkbox" name="Categories" value="@category" checked="@Model.Categories.Contains(category)" />
                    @category
                </lable>
            }
        </div>
        
        <div id="filters">
            <h4>Calories</h4>
            Between 
            <input name="calMin" type="number" min="0" max="1000" step="1" value="@Model.CalMin" placeholder="min" />
            and 
            <input name="calMax" type="number" min="0" max="1000" step="1" value="@Model.CalMax" placeholder="min" />
        </div>

        <div id="filters">
            <h4>Price</h4>
            Between $
            <input name="priceMin" type="number" min="0" max="1000" step="1" value="@Model.PriceMin" placeholder="min" />
            and $
            <input name="priceMax" type="number" min="0" max="20" step="1" value="@Model.PriceMax" placeholder="min" />
        </div>
    </div>

    <div id="results">
        <div>
            <h2>Entrees</h2>
            @foreach (BleakwindBuffet.Data.IOrderItem item in Model.MenuItems)
            {

                if (item is BleakwindBuffet.Data.Entrees.Entree entree)
                {
                    <ul class="menu-item">
                        <li>
                            <h3>@entree.Name</h3>
                            <div>Calories: @entree.Calories</div>
                            <div>Price: @entree.Price</div>
                            <div>@entree.Description</div>
                        </li>
                    </ul>
                }
            }
        </div>

        <div>
            <h2>Sides</h2>
            @foreach (BleakwindBuffet.Data.IOrderItem item in Model.MenuItems)
            {
                if (item is BleakwindBuffet.Data.Sides.Side side)
                {
                    <ul class="menu-item">
                        <li>
                            <h3>@side.Name</h3>
                            <div>Calories: @side.Calories</div>
                            <div>Price: @side.Price</div>
                            <div>@side.Description</div>
                        </li>
                    </ul>
                }
            }
        </div>
 
        <div>
            <h2>Drinks</h2>
            @foreach (BleakwindBuffet.Data.IOrderItem item in Model.MenuItems)
            {
                if (item is BleakwindBuffet.Data.Drinks.Drink drink)
                {
                    <ul class="menu-item">
                        <li>
                            <h3>@drink.Name</h3>
                            <div>Calories: @drink.Calories</div>
                            <div>Price: @drink.Price</div>
                            <div>@drink.Description</div>
                        </li>

                    </ul>
                }
            }
        </div>

        <div>
            <h2>Combos</h2>
            <p>Combos can be made up of any entree, side, and drink with a $1 dollar discount on the combined price</p>
            <h2>Additional Soda Flavors</h2>
            <ul>
                <li>
                    <h4>Blackberry</h4>
                </li>
                <li>
                    <h4>Grapefruit</h4>
                </li>
                <li>
                    <h4>Lemon</h4>
                </li>
                <li>
                    <h4>Peach</h4>
                </li>
                <li>
                    <h4>Watermelon</h4>
                </li>
            </ul>

        </div>

    </div>
    
</form>


